# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
.env.local
.env.*.local

# PHP / Composer
/vendor/
/auth.json
.phpactor.json
.phpunit.result.cache

# Laravel
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail

# IDE / Editor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Node
/node_modules/

# Laravel Homestead
Homestead.json
Homestead.yaml

# NPM / Vite
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# PHPUnit
.phpunit.result.cache

# Laravel Pint
.php-cs-fixer.cache